// Variables
$container-padding: 40px;
$border-color-rgba: rgba(255, 255, 255, 0.15);
$mobile-breakpoint: 768px;
$small-mobile-breakpoint: 480px;
$primary-color: #006442;
$secondary-text-color: black;
$container-background-color: #fff;
$container-height: 600px;